.content {
    width: 100%;
    max-width: 1710px;
    margin: 0 auto;
    padding: 0 15px;
}
.header-menu ul li a {
    color: #000;
    font-family: 'Noto Sans Armenian';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
}
.menu-about-us:hover .about-us-drop-down {
    display: block;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    top: 39px;
    left: -80px;
    padding: 20px;
    line-height: normal;
    white-space: nowrap;
    border-radius: 20px;
    border: 0.5px solid #D8DFE9;
    background: #FFF;
}


.modal{
    display: inline-table;
    background-color: #04040478;
    width: 100%;
    height: 100vh;
    cursor: pointer;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
    right: 0;
}
.overflow-bg {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 460px auto 0;
}
.footer-menu ul li a{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: inline-block;
    padding-bottom: 15px;
}
.font_semibold{
    font-weight: 600;
}
.text-line:after {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background: #ffffff;
    left: 0;
    top: 7px;
    position: relative;
    margin-bottom: 42px;
}

select {
    color: #4C4C4C;
    font-family: Noto Sans Armenian;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.shadow{
    filter: drop-shadow(0px 1px 14px rgba(83, 83, 83, 0.12));
}

.active-btn{
    padding: 10px 17px ;
    color: #FFF;
    font-family: Noto Sans Armenian;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color:#F34802;
    border-radius: 10px;
}
.active{
    color: #F34802 !important;
}


.vertical-clickable-thumbnail-slider-container {
    display: flex;
    margin-right: 20px;
}

.main-slider {
    flex: 1;
    margin-right: 60px; /* Adjust as needed */
}

.thumbnail-slider {
    width: 100%; /* Adjust as needed */
    max-width: 120px;
}
.slick-list{
    width: 100% ;
    max-width: 332px ;
}

.slick-slide  img {
    width: 100% ;
    max-width: 332px ;
    /*object-fit: cover !important;*/
}

.slick-prev {
    left: 40px !important ;
    top: -13px !important;
    margin-bottom: 15px;
}
.slick-next {
    top: 103% !important;
    left: 40px !important;
}

.cart-item{
    filter: drop-shadow(0px 1px 14px rgba(83, 83, 83, 0.12));
}
.filter-box{
    filter: drop-shadow(0px 1px 14px rgba(83, 83, 83, 0.12))
}



.basket-icon.activeBtn,
.basket-icon:hover{
    background-color: red;
}
input.is-invalid {
    border-color: red;
}


@media (max-width: 1600px){
    .main-slider {
        margin-right: 24px;
        width: 290px
    }

}

@media (max-width: 1400px) {
    .header-menu ul {
        gap: 25px;
    }
    .logo-header{
        width: 100%;
        max-width: 150px;
    }
    .header-menu ul li a {
        font-size: 17px;
    }
    .header-icons{
        gap: 20px;
    }
}

@media (max-width: 1200px) {
    .header-menu ul {
        gap: 15px;
    }
    .header-menu ul li a {
        font-size: 15px;
    }
    .basket-icon svg,
    .search-icon svg{
        width: 20px;
        height: 20px;
    }
    .header-icons select{
        font-size: 18px;
    }
    .logo-header {
        width: 100%;
        max-width: 100px;
    }
}

@media (max-width: 992px) {
   .header-menu{
       position: absolute;
       right: -700px;
       background: #ffffff;
       height: 100%;
       display: none;
   }
    .header-menu.menu-show {
        right: 0 !important;
        z-index: 99;
        top: 0;
        background-color: #ede5e5;
        padding-top: 80px;
        width: 100%;
        height: 100vh;
        display: inline-table;
        max-width: 500px;
        padding-left: 30px;
    }
    .header-menu.menu-show ul{
        display: grid;
    }
    .burger-icon{
        display: block;
    }
    .header-icons{
        display: none;
    }
}

@media (max-width: 576px){
    .unset-width {
        width: unset;
        padding: 0;
    }
}
